<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- HEAD -->
		<%- include("../../partials/head") %>
		<% title = "Adjacency List" %>

		<title><%- title %></title>

		<!-- CSS -->
		<link rel="stylesheet" href="/styles/partials/navbar.css" />
		<link rel="stylesheet" href="/styles/input/custom/adjacencyList.css" />

		<!-- SCRIPTS -->
		<script src="/swal/dist/sweetalert2.all.min.js"></script>
		<script src="/scripts/partials/navbar.js"></script>
		<script src="/scripts/partials/essentials.js"></script>
		<script src="/scripts/partials/parameters.js"></script>
		<script src="/scripts/dataStructures/graph.js"></script>
		<script src="/scripts/input/custom/adjacencyList.js"></script>
		<script>
			const directed = JSON.parse("<%- directed %>");
			const nodeNames = JSON.parse(`<%- nodeNames %>`);
			const weighted = JSON.parse("<%- weighted %>");
		</script>
	</head>
	<body>
		<!-- NAVBAR -->
		<%- include("../../partials/navbar") %>

		<!-- INFORMATION -->
		<div class="information">
			<p>Unweighted row structure: {node 1} {node 2} {node 3} ...</p>
			<p>Example: apple banana lemon orange</p>
			<br>
			<p>Weighted row structure: {node 1} {weight 1}, {node 2} {weight 2}, ...</p>
			<p>Example: apple 2, banana 3, lemon 1, orange 6</p>
		</div>

        <!-- ADJACENCY LIST -->
        <div id="adjacencyTable" class="table"></div>
	</body>
</html>
