<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- HEAD -->
		<%- include("../../partials/head") %>
		<% title = " Adjacency Matrix" %>

		<title><%- title %></title>

		<!-- CSS -->
		<link rel="stylesheet" href="/styles/partials/navbar.css" />
		<link rel="stylesheet" href="/styles/input/custom/adjacencyMatrix.css">

		<!-- SCRIPTS -->
		<script src="/swal/dist/sweetalert2.all.min.js"></script>
		<script src="/scripts/partials/navbar.js"></script>
		<script src="/scripts/partials/essentials.js"></script>
		<script src="/scripts/partials/parameters.js"></script>
		<script src="/scripts/input/custom/adjacencyMatrix.js"></script>
		<script>
			const directed = JSON.parse("<%- directed %>");
			const nodeNames = JSON.parse(`<%- nodeNames %>`);
			const weighted = JSON.parse("<%- weighted %>")
		</script>
	</head>
	<body>
		<!-- NAVBAR -->
		<%- include("../../partials/navbar") %>

		<!-- ADJACENCY MATRIX -->
		<div class="table" id="table"></div>
	</body>
</html>
