<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- HEAD -->
		<%- include("../../partials/head") %>
		<% title = "Edge List" %>

		<title><%- title %></title>

		<!-- CSS -->
		<link rel="stylesheet" href="/styles/partials/navbar.css" />
		<link rel="stylesheet" href="/styles/input/custom/edgeList.css">

		<!-- SCRIPTS -->
		<script src="/swal/dist/sweetalert2.all.min.js"></script>
		<script src="/scripts/partials/navbar.js"></script>
		<script src="/scripts/partials/essentials.js"></script>
		<script src="/scripts/partials/parameters.js"></script>
		<script src="/scripts/dataStructures/graph.js"></script>
		<script src="/scripts/input/custom/edgeList.js"></script>
		<script>
			let directed = JSON.parse("<%- directed %>");
			let weighted = JSON.parse("<%- weighted %>");
		</script>
	</head>
	<body>
		<!-- NAVBAR -->
		<%- include("../../partials/navbar") %>

		<!-- INFORMATION -->
		<div class="information">
			<p>Unweighted edge list: {start node} {target node}</p>
			<p>Weighted edge list: {start node} {target node} {weight}</p>
		</div>

		<!-- EDGE LIST -->
		<div class="elements">
			<div class="container">
				<!-- LINE NUMBER -->
				<textarea 
				class="line_number"
				cols="5"
				id="lineNumber"
				readonly
				rows="23"
				wrap="off"
				></textarea>
				
				<!-- INPUT -->
				<textarea
					class="edge_list"
					cols="100"
					id="edgeList"
					oninput="updateLineCount(this)"
					onscroll="syncScroll()"
					placeholder="eg. apple banana 3 (include positive integer for weighted edge list)"
					rows="23"
					spellcheck="false"
					wrap="off"
				></textarea>
			</div>

			<div class="submit">
				<p><a href="javascript:submit()">Visualise</a></p>
			</div>
		</div>
	</body>
</html>
